.DestListPage {
  padding: 100px 0 30px 0;
  background-color: #ffffff;
  height: fit-content;
  min-height: 100vh;
}

.DestListPage_List {
  margin: 40px 0;
  padding: 0;
}

.DestList-header {
  font-size: 38px;
  margin: 0px 50px 50px;
  color: #131b23;
  line-break: wrap;
  padding: 30px 0px;
}

.DestList-add-dest {
  text-decoration: none;
  border: 1px solid #131b23;
  margin: 30px 20px;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #131b23;
}

.DestList-add-dest:hover {
  color: #416165;
  border-color: #416165;
}

.DestLink {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  margin: 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}

.DestList-item {
  padding: 30px 40px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  background: #f1f1f1;
  opacity: 0.75;
}

li:hover {
  box-shadow: 0px 6px 5px 0px rgba(65, 97, 101, 0.75);
  border-top: #416165;
  cursor: pointer;
  width: 90%;
}

li {
  list-style: none;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.DestDetails_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.DestDetails_Date {
  margin-bottom: 10px;
}

@media (min-width: 750px) {
  li {
    display: flex;
    justify-content: space-around;
    max-width: 850px;
  }

  .DestLink {
    width: 50%;
  }
  .DestDetails_Container {
    display: flex;
    font-size: 18px;
    margin: 0px;
    justify-content: space-between;
    width: 50%;
  }

  .DestList-header {
    font-size: 38px;
    margin: 0px 50px 50px;
    /* color: #416165; */
    color: #131b23;
    /* text shadow: ; */
  }
}
