main {
  text-align: center;
}

.LP-section-header {
  font-size: 24px;
  margin-top: 0;
}

.LP-sections > section {
  padding: 150px 50px;
  margin: 0;
}

.LP-sections > section:nth-child(even) {
  background-color: #656176;
  color: #ebd8d0;
}

.LP-sections > section:nth-child(odd) {
  background-color: #e9ebf8;
  color: #131b23;
}

.LP-header {
  color: #131b23;
  position: relative;
  top: 80px;
  /* background-color: #FAE3E3; */
  background-color: #808f85;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.75);
  padding: 80px 30px;
  margin: 0;
  z-index: 11;
}

.LP-header > h1 {
  font-size: 38px;
}

.LP-image {
  width: 90%;
}

.LP-sections {
  position: relative;
  top: 95px;
  color: #e9ebf8;
}

.LP-sections > p {
  font-size: 20px;
  text-align: left;
  padding-right: 30px;
}

.LP-link {
  text-decoration: none;
  width: fit-content;
  font-size: 16px;
  border: 1px solid #131b23;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #131b23;
  color: #f2f7f2;
}

.LP-link-button {
  font-size: 16px;
  width: fit-content;
  border: 1px solid #131b23;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #131b23;
  color: #f2f7f2;
}

/* .LP-link-button:hover {
  color: #808f85;
  border: 2px solid #808f85;
} */

.LP-link:hover {
  color: #808f85;
  border: 2px solid #808f85;
  cursor: pointer;
}

@media (min-width: 700px) {
  .LP-image {
    width: 50%;
  }

  section > p {
    font-size: 20px;
    width: 80%;
    margin: auto;
  }

  .LP-sections > section {
    padding: 100px 30px;
    margin: 0;
  }
  .LP-signUp {
    padding: 100px 90px;
  }

  .LP-section-header {
    font-size: 30px;
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .LP-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .LP-section > .LP-signUp {
    padding: 100px 90px;
  }
  .LP-section > * {
    flex: 1 1 0;
  }

  .LP-section > header {
    width: 30%;
  }

  .LP-section > header {
    margin: 0px;
    align-items: center;
  }

  p {
    margin: 0px 0px 0px 20px;
    height: 100%;
    width: 30%;
  }

  .LP-image {
    margin: 0px;
    width: 30%;
    align-self: center;
  }
}
