main {
  text-align: center;
}

.LP-sections > section {
  padding: 30px 90px;
  margin: 0;
}

.LP-sections > section:nth-child(even) {
  /* background-color: #808F85; */
  background-color:  #656176;
  color: #EBD8D0;
}

.LP-sections > section:nth-child(odd){
  /* background-color: #534D56; */
  background-color: #E9EBF8;
  color:  #131B23;
}

.LP-header {
  color: #131B23;
  position: relative;
  top: 80px;
  background-color: #FAE3E3;
  box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.75);
  padding: 30px;
  margin: 0;
  z-index: 11;
  font-size: 20px;
}

.LP-image {
  width: 50%;
}

.LP-sections{
  position: relative;
  top: 90px;
  color: #E9EBF8;
}

.LP-link {
  text-decoration: none;
  font-size: 16px;
  color: #F2F7F2;
}

.LP-link-button {
  border: 1px solid #131B23;
  border-radius: 30px;
  padding: 10px;
  background-color: #131B23;
  color: #F2F7F2;
}

.LP-link-button:hover{
  color:  #808F85;
  border: 2px solid #808F85;
}

.LP-link:hover {
  color:  #808F85;
}