.Entry{
  margin-top: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.75);
  background-color: #E9EBF8;
  margin-bottom: 0;
}
.Entry-info-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px dashed #808F85;
  justify-content: space-between;
  padding: 10px 60px;
}

.Entry-subject{
  font-size: 18px;
  align-self: center;
}

.Entry-date {
  margin-right: 10px;
  color: grey;
  font-size: 14px;
}

.Entry-body {
  font-size: 16px;
  padding: 40px;
}

.Entry-body-delete {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Entry-delete {
  width: 100px;
  align-self: center;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
}

.Entry-delete:hover {
  border-color: red;
  color: red;
  cursor: pointer;
}