.AddEntry {
  position: relative;
  padding: 100px 0px;
  background-color: #ffffff;
  height: fit-content;
}

.AddEntry-form {
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.7);
  justify-self: center;
  padding: 30px;
  margin: 0 auto;
  border-radius: 0px;
  background-color: #f6f6f6;
  color: #000000;
  border: none;
  max-width: 800px;
}

.AddEntry-form-group {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  margin: auto;
}

.AddEntry-form-group > label {
  margin: 20px auto 0px;
}

.AddEntry-form-group > input {
  width: 100%;
  align-self: center;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #9f9aa4;
  font-size: 18px;
  color: #000000;
}

.AddEntry-form-group > textarea {
  width: 100%;
  height: 200px;
  align-self: center;
  padding: 20px;
  margin: 10px 0px 20px 0px;
  border-radius: 20px;
  border: 1px solid #9f9aa4;
  font-size: 18px;
  background: transparent;
  color: #000000;
}
.AddEntry-form-group > input:hover,
.AddEntry-form-group > input:active,
.AddEntry-form-group > input:focus,
.AddEntry-form-group > textarea:hover,
.AddEntry-form-group > textarea:active,
.AddEntry-form-group > textarea:focus {
  border: 1px solid #7098a9;
}
.add-entry-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-entry-button-group > button {
  margin: 30px 5px 0 5px;
  padding: 10px 20px;
  border: 1px solid #9f9aa4;
  color: #9f9aa4;
  border-radius: 20px;
  background: transparent;
  font-size: 14px;
}

.add-entry-button:hover {
  cursor: pointer;
  color: #a8bca1;
  border-color: #a8bca1;
}

.cancel-add-entry-button:hover {
  cursor: pointer;
  color: red;
  border-color: red;
}

@media (min-width: 750px) {
  .AddEntry-form-group > textarea {
    width: 80%;
    height: 200px;
    align-self: center;
    padding: 30px;
    margin: 10px 0 20px 0;
    border-radius: 20px;
    border: 1px solid #9f9aa4;
    font-size: 18px;
  }

  .AddEntry-form-group > input {
    width: 80%;
  }
}
