.Login{
  margin-top: 150px;
  border: 2px solid #131B23;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 100px 10%;
}

.Login-submit {
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #627C85;
  border-radius: 20px;
  margin-top: 30px;
}

.Login-submit:hover {
  cursor: pointer;
  border-color: #808F85;
}