.DestMainPage {
  position: relative;
  top: 40px;
  background-color: rgba(196, 207, 204, 0.85);
  height: 100vh;
}

.DestMainPage-buttons > button {
  position: absolute;
  top: 20px;
  margin: 0 20px 40px 20px;
  padding: 5px 10px;
  /* border: 1px solid #131B23; */
  border-radius: 20px;
  background-color: #46494C;
}

.DestMainPage-back{
  left: 10px; 
}

.DestMainPage-back:hover{
  cursor: pointer;
  color: #A8BCA1;
  border-color: #A8BCA1;
}

.dest-back {
  color: #9F9AA4;
  border-color: #9F9AA4;
}

.dest-back:hover {
  color: #A8BCA1;
  border-color: #A8BCA1;
}

.Dest-delete{
  right: 10px;
  color: #131B23;
  border-color: #9F9AA4;
}

.Dest-delete:hover{
  cursor: pointer;
  color: red;
  border-color: red;
}

.dest-delete {
  color: #131B23;
  border-color: #9F9AA4;
}

.dest-delete:hover {
  color: red;
  border-color: red;
}

.DestMainPage-overview {
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  margin-top: 20px;
  padding: 80px 10px 50px 10px;
  background-color: #46494C;
  color: #F2F7F2;
  z-index: 12;
}

.DestMainPage-add{
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
  margin: 0;
}
.DestMainPage-add-entry {
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
  margin: 0 0 40px 0;
}

.Dest-save-edits{
  margin-top: 20px;
  margin-bottom: 0;
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
}

.Dest-save-edits:hover,
.button-link:hover {
  cursor: pointer;
  color: #A8BCA1;
  border-color: #A8BCA1;
}

.button-link{
  text-decoration: none;
  color: #131B23;
}

.dest-name, 
.dest-date,
.dest-budget {
  border: 1px solid #131B23;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  height: 100%;
  margin: 10px 0;
  width: 80%;
  justify-content: center;
  background-color:  #F2F7F2;
  color: black;
}
.dest-date{
  text-align: right;
  padding-right: 10%;
}

.DestMain-name {
  margin-bottom: 0;
}

.DestMain-budget {
  position: relative;
  display: inline;
  font-size: 20px;
  /* margin-left: 5px; */
}

.DestMain-budget:before {
  content: '$';
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 1;
  color: black;
}

.DestMain-details{
  display: flex;
  flex-direction: column;
  /* margin: 20px 20px; */
  justify-content: center;
}

.DestMainPage-items {
  margin: 0;
  padding-bottom: 40px;
  box-shadow: 0px 4px 5px 8px rgba(0,0,0,0.75);
  z-index: 12;

}
.DestMainPage-entries{
  margin: 0;
  margin-bottom: 40px;
  border-top: 2px solid black;
  box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
  height: auto;

}

.Entry-header{
  font-size: 25px;
  padding-top: 40px;
  margin-top: 0;
}

.Entries-header-container {
  background-color: #9F9AA4;
}

@media (min-width: 430px) {
  .dest-date{
    text-align: center;
    padding-left: 8%;
    padding-right: 5%;
  }
}

@media (min-width: 750px) {

  .DestMain-name {
    width: 50%;
    margin: auto;
  }

  .dest-name {
    width: fit-content;
  }

  .DestMain-details {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: center;

  }

  .dest-name, 
  .dest-date,
  .dest-budget {
    border: 1px solid #131B23;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    height: 100%;
    margin: 0 20px;
    justify-content: center;
    background-color:  #F2F7F2;
    color: black;
  }

  .DestMain-date {
    margin-right: 5px;
  }

  

  .DestMain-budget {
    position: relative;
    display: inline;
    font-size: 20px;
    margin-left: 5px;
  }

  .DestMain-budget:before {
    content: '$';
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
    color: black;
  }

}