.DestMainPage {
  position: relative;
  top: 50px;
  height: 100%;
  min-height: 100vh;
  padding: 0px;
}

.DestMainPage-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 5px;
}

.DestMainPage-buttons > button {
  z-index: 11;
  padding: 10px 15px;
  background-color: transparent;
  color: rgba(196, 207, 204, 0.85);
  border: none;
  font-size: 14px;
}

.DestMainPage-back {
  left: 10px;
  color: rgba(196, 207, 204, 0.85);
}

.DestMainPage-back:hover {
  cursor: pointer;
  color: #9f9aa4;
}

.Dest-delete {
  right: 10px;
  color: #131b23;
}

.Dest-delete:hover {
  cursor: pointer;
  color: red;
}

.DestMainPage-overview {
  background-color: #f1f1f1;
  z-index: 12;
  min-height: 190px;
  color: #000000;
  padding: 30px 0px;
}

.DestMainPage-add {
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  background: transparent;
  margin: 30px 0px 0px;
  font-size: 14px;
}

.DestMainPage-add-entry {
  padding: 5px 10px;
  border: none;
  background: transparent;
  margin: 0px 0px 0px;
  font-size: 14px;
}

.Dest-save-edits {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 0px;
  padding: 5px 10px;
  border: 1px solid #131b23;
  border-radius: 20px;
  background: transparent;
}

.Dest-save-edits:hover,
.button-link:hover {
  cursor: pointer;
  color: #a8bca1;
  border-color: #a8bca1;
}

.button-link {
  text-decoration: none;
  color: #131b23;
}

.save-container {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

.dest-name,
.dest-date,
.dest-budget {
  border: none;
  text-align: center;
  padding: 10px 10px;
  height: 100%;
  justify-content: center;
  background: transparent;
}

.dest-name {
  margin: 10px auto;
  font-size: 32px;
  width: 80%;
  line-height: 32px;
}

.dest-budget {
  width: 100%;
  margin-left: 10px;
  font-size: 22px;
}

.dest-date {
  text-align: right;
  margin-left: 8%;
  margin-bottom: 10px;
  width: 80%;
  font-size: 22px;
}

.dest-name:hover,
.dest-name:active,
.dest-name:focus,
.dest-date:hover,
.dest-date:active,
.dest-date:focus,
.dest-budget:hover,
.dest-budget:active,
.dest-budget:focus {
  border: 1px solid #7098a9;
  border-radius: 10px;
}

.DestMain-budget {
  position: relative;
  display: inline;
  font-size: 20px;
  text-align: right;
}

.DestMain-budget:before {
  content: "$";
  position: absolute;
  top: 22%;
  left: 28%;
  z-index: 1;
  margin-left: 2%;
}

.DestMain-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.DestMainPage-items {
  margin: auto;
  padding: 60px 10px;
  z-index: 12;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Items-header-add-btn {
  width: 100%;
  margin: auto;
}

.items-container {
  width: 100%;
  margin: 30px auto 0px;
  border: 2px solid #7098a9;
  border-radius: 10px;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.no-items {
  margin: auto;
  width: 100%;
  font-style: italic;
  color: #9b9b9b;
}

.DestMainPage-entries {
  margin: 0px 0px 0px;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.Entry-header {
  font-size: 25px;
  margin-top: 0;
  width: 100%;
}

.Entries-header-container {
  padding: 30px 10px;
}

@media (max-width: 450px) {
  .dest-date {
    text-align: center;
    margin-left: 12%;
    margin-bottom: 10px;
    width: 80%;
  }
}

@media (max-width: 330px) {
  .DestMain-budget:before {
    content: "$";
    position: absolute;
    top: 22%;
    left: 25%;
    z-index: 1;
    color: rgba(196, 207, 204, 0.85);
  }
}

@media (min-width: 430px) {
  .DestMain-budget:before {
    content: "$";
    position: absolute;
    top: 22%;
    left: 35%;
    z-index: 1;
    color: rgba(196, 207, 204, 0.85);
  }
  .dest-date {
    text-align: center;
    padding-left: 8%;
    padding-right: 5%;
    /* margin-left: 8%; */
  }
}

@media (min-width: 700px) {
  .DestMain-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-around;
    word-wrap: break-word;
    align-items: space-between;
  }

  .dest-name,
  .dest-date,
  .dest-budget {
    border: none;
    font-size: 22px;
    text-align: center;
    padding: 0px;
    height: 100%;
    margin: 0px;
    width: fit-content;
    justify-content: center;
    background: transparent;
    color: #000000;
  }
  .dest-name {
    font-size: 42px;
    text-align: center;
    width: 30%;
    padding: 10px 0px;
    line-height: 42px;
    height: fit-content;
  }

  .save-container {
    justify-content: flex-end;
  }

  .DestMain-date {
    width: fit-content;
  }

  .dest-date {
    margin: 10px 0px;
  }

  .DestMain-budget {
    position: relative;
    display: inline;
    font-size: 20px;
    margin-left: 0px;
  }

  .dest-budget {
    margin: 10px 0px;
  }

  .DestMain-budget:before {
    content: "$";
    position: absolute;
    top: 45%;
    left: 18%;
    z-index: 1;
  }

  .DestMainPage-items {
    margin: auto;
    padding: 60px 10px 40px;
    z-index: 12;
    background-color: #ffffff;
    width: 100%;
    flex-direction: row;
  }

  .Items-header-add-btn {
    width: 45%;
    margin: auto;
  }

  .items-container {
    width: 55%;
    margin: auto 30px auto 0px;
    border: 2px solid #7098a9;
    border-radius: 0px;
    height: 300px;
    overflow: auto;
  }
}
