.DestMainPage {
  position: relative;
  top: 40px;
  background-color: rgba(196, 207, 204, 0.85);
  height: 100vh;
}

.DestMainPage-buttons > button {
  position: absolute;
  top: 20px;
  margin: 0 20px 40px 20px;
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
  opacity: 100%;
}

.DestMainPage-back{
  left: 10px; 
}

.DestMainPage-back:hover{
  cursor: pointer;
  color: #A8BCA1;
  border-color: #A8BCA1;
}

.Dest-delete{
  right: 10px;
}

.Dest-delete:hover{
  cursor: pointer;
  color: red;
  border-color: red;
}

.DestMainPage-overview {
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  margin-top: 20px;
  padding: 50px 10px 30px 10px;
  background-color: #46494C;
  color: #F2F7F2;
  z-index: 12;
}

.DestMainPage-add{
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
  margin: 0;
}
.DestMainPage-add-entry {
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
  margin: 0 0 40px 0;
}

.Dest-save-edits{
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
}

.Dest-save-edits:hover,
.button-link:hover {
  cursor: pointer;
  color: #A8BCA1;
  border-color: #A8BCA1;
}

.button-link{
  text-decoration: none;
  color: #131B23;
}

.dest-name, 
.dest-date,
.dest-budget {
  border: 1px solid #131B23;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  height: 100%;
  /* margin: 0 20px; */
  justify-content: center;
  background-color:  #F2F7F2;
  color: black;
}

.DestMain-date {
  margin-right: 5px;
}

.DestMain-budget {
  position: relative;
  display: inline;
  font-size: 20px;
  margin-left: 5px;
}

.DestMain-budget:before {
  content: '$';
  position: absolute;
  top: 8px;
  left: 50px;
  z-index: 1;
  color: black;
}

.DestMain-details{
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  /* padding: 0 20px; */
  justify-content: center;
}

.DestMainPage-items {
  /* border-bottom: 1px solid grey; */
  /* background-color: #B5C9C3; */
  margin: 0;
  padding-bottom: 40px;
  box-shadow: 0px 4px 5px 8px rgba(0,0,0,0.75);
  z-index: 12;

}
.DestMainPage-entries{
  /* background-color: #B5C9C3; */
  margin: 0;
  margin-bottom: 40px;
  border-top: 2px solid black;
  box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
  height: auto;

}

.Entry-header{
  font-size: 25px;
  padding-top: 40px;
  margin-top: 0;
}

.Entries-header-container {
  background-color: #9F9AA4;
}