.AddDest {
  position: relative;
  top: 100px;
}

.form-group{
  width: 60%;
  margin: auto;
}

.AddDest-title,
.AddDest-date,
.AddDest-budget {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.add-dest-button-group > button{
  margin: 30px 20px 0 20px;
  padding: 5px 10px;
  border: 1px solid #131B23;
  border-radius: 20px;
}

.cancel-add-dest-button:hover {
  color: red;
  cursor: pointer;
}

.add-dest-button:hover {
  cursor: pointer;
  color: #A8BCA1;
}