.SignUpForm {
  position: relative;
  top: 150px;
  border: 1px solid black;
  padding: 30px;
}
label {
  margin-right: 20px;
}

.full_name, .user_name, .password {
  margin-bottom: 20px;
}

.SignUp-submit {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #627C85;
  border-radius: 20px;
}

.SignUp-submit:hover {
  cursor: pointer;
  border-color: #FAE3E3;
}